﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в веб-дневник!</h1>
    <img src="pic-notepad.png" width="50%" height="50%" alt="Description of Image">
</div>
