﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Здесь могла быть политика, но её всё равно никто не читает</h1>
    <img src="mem.png" width="50%" height="50%" alt="Description of Image">
</div>

