@page
@model WebDiary.Pages.Entries.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1> Вы хотите удалить вашу историю? </h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"> Название </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Title)
        </dd>

        <dt class="col-sm-2"> Дата </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.CreationDate)
        </dd>

        <dt class="col-sm-2"> Текст </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Text)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Entry.Id" />
        <a class="btn btn-primary" asp-page="./Index">Вернуться</a>
        <br>
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
