@page
@model WebDiary.Pages.Entries.DownloadModel

@{
    ViewData["Title"] = "Download";
}

<!--<h1>Ваша запись...</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"> Название </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Title)
        </dd>

        <dt class="col-sm-2"> Дата </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.CreationDate)
        </dd>

        <dt class="col-sm-2"> Текст </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entry.Text)
        </dd>

    </dl>
</div>

<div>
    <form method="post">
        <input class="btn btn-success" type="submit" value="Скачать" />
    </form>

    <br>
    <a class="btn btn-primary" asp-page="./Index">Вернуться</a>
</div>-->
