@page
@model WebDiary.Pages.Entries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entry.Id" />
            <div class="form-group">
                <label asp-for="Entry.Title" class="control-label">Название</label>
                <input asp-for="Entry.Title" class="form-control" />
                <span asp-validation-for="Entry.Title" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <label asp-for="Entry.Text" class="control-label">Текст</label>

                <textarea asp-for="Entry.Text"
                          class="form-control"
                          rows="15"
                          cols="100"
                          placeholder="Ваш текст здесь...">
                </textarea>

                <span asp-validation-for="Entry.Text" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <label asp-for="Entry.CreationDate" class="control-label">Дата</label>
                <input asp-for="Entry.CreationDate" class="form-control" />
                <span asp-validation-for="Entry.CreationDate" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br>
<div>
    <a class="btn btn-primary" asp-page="./Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
