@page
@model WebDiary.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ваши записи</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Добавить новую запись</a>
</p>

<form method="post">
    <input class="btn btn-success" type="submit" value="Скачать дневник" />
</form>

<table class="table">
    <thead>
        <tr>
            <th> Название </th>

            <th> Дата </th>

            <th> Действия </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Download" asp-route-id="@item.Id"> Скачать     </a>
                <a class="btn btn-primary" asp-page="./Edit"     asp-route-id="@item.Id"> Изменить    </a>
                <a class="btn btn-primary" asp-page="./Details"  asp-route-id="@item.Id"> Просмотреть </a>
                <a class="btn btn-danger"  asp-page="./Delete"   asp-route-id="@item.Id"> Удалить     </a>
            </td>
        </tr>
}
    </tbody>
</table>
